########################
# Python
########################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

########################
# Entornos virtuales
########################
venv/
env/
.venv/
ENV/

########################
# Django
########################
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py

########################
# Variables de entorno
########################
.env
.env.*
!.env.example

########################
# Docker
########################
*.tar
docker-compose.override.yml
.dockerignore

########################
# Terraform
########################
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

########################
# Git
########################
.git/
.gitignore

########################
# OS / Editor
########################
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

########################
# Tests / Docs (opcional)
########################
htmlcov/
.coverage
.pytest_cache/
docs/
tests/
